<ion-view view-title="Summary">
    <ion-content>
        <ion-list>
            <ion-item>
                <label>Giving To: Bill Randall</label><br />
                <label>Amount: $50</label><br />
                <label>Frequency: Single</label><br />
                <label>Payment Method: Amazon Card</label><br />
            </ion-item>
            <ion-item>
                <a ui-sref="thankYou" class="button button-energized">Submit</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>